<form action="{{urls.account.update_action}}" data-edit-account-form class="form" method="post">
    {{inject 'firstName' (lang 'forms.validate.account.edit.first_name')}}
    {{inject 'lastName' (lang 'forms.validate.account.edit.last_name')}}
    {{inject 'phoneNumber' (lang 'forms.validate.account.edit.phone')}}
    {{inject 'currentPassword' (lang 'forms.validate.account.edit.password')}}
    <fieldset class="form-fieldset">
        <div class="form-row form-row--half">
            <div class="form-field" id="account_firstname_id">
                <label class="form-label" for="account_firstname">
                    {{lang 'account.settings.first_name' }}
                    <small>{{lang 'common.locked' }}</small>
                </label>
                <input disabled aria-labelledby="account_firstname_id" aria-live="polite" type="text" class="form-input" name="account_firstname" id="account_firstname" value="{{forms.edit_account.first_name}}">
            </div>
            <div class="form-field" id="account_lastname_id">
                <label class="form-label" for="account_lastname">
                    {{lang 'account.settings.last_name' }}
                    <small>{{lang 'common.locked' }}</small>
                </label>
                <input disabled aria-labelledby="account_lastname_id" aria-live="polite" type="text" class="form-input" name="account_lastname" id="account_lastname" value="{{forms.edit_account.last_name}}">
            </div>
            <div class="form-field" id="account_email_id">
                <label class="form-label" for="account_email">
                    {{lang 'account.settings.email' }}
                    <small>{{lang 'common.locked' }}</small>
                </label>
                <input disabled aria-labelledby="account_email_id" aria-live="polite" type="text" class="form-input" name="account_lastname" id="account_email" value="{{customer.email}}">
            </div>
            <div class="form-field" id="account_phone_id">
                <label class="form-label" for="account_phone">
                    <small>{{lang 'common.locked' }}</small>
                    {{lang 'account.settings.phone' }}
                </label>
                <input disabled aria-labelledby="account_phone_id" aria-live="polite" type="text" class="form-input" name="account_phone" id="account_phone" value="{{forms.edit_account.phone}}">
            </div>
        </div>
    </fieldset>
</form>
