<nav class="pagination orders-pagination" aria-label="pagination">

    <ul class="pagination-list">
        {{#if previous}}
        <li class="pagination-item pagination-item--previous">
            <a class="pagination-link" href="{{previous}}" {{#unless reload}}data-faceted-search-facet{{/unless}}
                aria-label="{{lang 'common.previous'}}">
                <i class="icon" aria-hidden="true">
                    <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-left"></use>
                    </svg>
                </i>
                {{lang 'common.previous'}}
            </a>
        </li>
        {{/if}}
        
        {{#if this.links.length}}
        <li class="paginator-pageOf">{{lang 'common.paginator.page_of' current=this.current total=this.links.length}}</li>
            {{this.number}}
        {{else}}
        <li class="paginator-pageOf">{{lang 'common.paginator.page_of' current=1 total=1}}</li>
        {{/if}}

        {{#if next}}
        <li class="pagination-item pagination-item--next">
            <a class="pagination-link" href="{{next}}" {{#unless reload}}data-faceted-search-facet{{/unless}}
                aria-label="{{lang 'common.next'}}">
                {{lang 'common.next'}}
                <i class="icon" aria-hidden="true">
                    <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-right"></use>
                    </svg>
                </i>
            </a>
        </li>
        {{/if}}
    </ul>
</nav>