{{#partial "page"}}
<div class="account" data-pagination-wishlist>

    {{#if wishlist.is_editable}}
        {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    {{/if}}
    <h2 class="page-heading">{{lang 'account.wishlists.view_heading' name=wishlist.name}}</h2>
    {{#if wishlist.is_editable}}
        {{> components/account/navigation account_page='wishlists'}}
    {{/if}}

    {{#if wishlist.is_editable}}
        {{#if wishlist.is_public '>' 0}}
            <div class="panel share-wishlist">
                <div class="panel-body">
                    <h5>{{lang 'account.wishlists.share_intro'}}</h5>
                    <input class="form-input" id="wishlist_url" value="{{settings.base_url}}{{wishlist.share_url}}" readonly>
                    <div class="share-wishlist-button" style="padding-top: 20px"><a href="javascript:void(0);" onclick="javascript:copyToClipboard('wishlist_url');" class="button button--primary" id="button_copy_wishlist">{{lang 'account.wishlists.copy_link'}}</a> </div>
                </div>
            </div>
        {{/if}}
    {{/if}}

    {{#if wishlist.items}}
        {{> components/account/wishlist-item-list show_remove=wishlist.is_editable}}
    {{else}}
        {{> components/common/alert/alert-info (lang 'account.wishlists.empty_wishlist')}}
    {{/if}}
</div>
<script>
    function copyToClipboard(elementId) {
        var inputWishlistUrl = document.getElementById(elementId);
        var buttonCopyWishlist = document.getElementById('button_copy_wishlist');

        inputWishlistUrl.select();
        document.execCommand("copy");
        buttonCopyWishlist.innerHTML = "{{lang 'account.wishlists.link_copied'}}"

        setTimeout(() => {
            buttonCopyWishlist.innerHTML = "{{lang 'account.wishlists.copy_link'}}";
        }, 3000);
    }
</script>
{{/partial}}
{{> layout/base}}
