<a href="#main-content" class="skip-to-main-link">{{lang 'header.skip_to_main'}}</a>
{{#if banners.top}}
<div class="banners" data-banner-location="top">
    {{#each (limit banners.top_metadata 1)}}
    <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}"
         data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
        <div data-event-type="promotion-click">
            {{{this.content}}}
        </div>
    </div>
    {{/each}}
</div>
{{/if}}
<header class="header" role="banner">
    <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
        <span class="mobileMenu-toggleIcon">Toggle menu</span>
    </a>
    {{> components/common/navigation}}
    <div class="container header-container" style="display: flex; justify-content: space-between; position: unset;">

        {{#if page_type '===' 'default'}}
        <h1 class="header-logo header-logo--{{theme_settings.logo-position}}">
            {{> components/common/store-logo}}
        </h1>
        {{else}}
        <div class="header-logo header-logo--{{theme_settings.logo-position}}">
            {{> components/common/store-logo}}
        </div>
        {{/if}}


        <div class="navPages-container" id="menu" data-menu>
            {{> components/common/navigation-menu}}
        </div>

        <div class="navPages-search">
            <form class="form" action="/search.php">
                <input class="form-input"
                       data-search-quick
                       name="search_query_adv"
                       placeholder="keywords"
                       autocomplete="off"
                       value="{{forms.search.query}}"
                       style="float:left; position: relative; display: block; width: 200px"
                >
                <button id="form-action-addToCart" data-wait-message="Adding to cart…" class="button button--primary"
                        type="submit"
                        value="" style="float: left;
        display: block;
        position: relative;
        font-size: 12px;
        font-weight: 500;
        color: white;
        margin-left: 5px;
        border-radius: 2px;
        width: 10px;
        background: #007078;
        border: 0;
        height: 42px;">
                    <i class="header-search-button fa fa-search" style="margin-left: -9px"></i>

                </button>
            </form>
        </div>
        {{{region name="header_navigation_bottom--global"}}}
    </div>
</header>
{{{region name="header_bottom--global"}}}
{{{region name="header_bottom"}}}
