<div id="loginModal" class="modal" data-reveal>
    <div class="login-modal-form">
        <div id="login-left"><img src="{{cdn 'assets/img/round-logo.png'}}"></div>
        <div id="login-right">
            <p id="sso_login_message">{{lang 'login.sso_message' }}</p>
            <p id="sso_login_message_inactive">{{lang 'login.sso_message_inactive' }}</p>
            <p><button onclick="javascript:window.location='{{theme_settings.session_management.login_url}}'">{{lang 'login.click_here' }}</button></p>
        </div>
    </div>
</div>
