<div id="loginModal" class="modal" data-reveal>
    <div class="login-modal-form">
        <div id="login-left"><img src="{{cdn 'assets/img/round-logo.png'}}"></div>
        <div id="login-right">
            <form>
                <div class="modal-login-row">
                    <img src="{{cdn 'assets/img/login-logo.png'}}">
                </div>
                <div>
                    <input type="text" name="email" placeholder="Email Address">
                </div>
                <div>
                    <input type="password" name="password" placeholder="{{lang 'login.field_password' }}">
                </div>
                <div>
                    <a href="#" id="modal-forgot-password">{{lang 'login.forgot_password' }}</a>
                    <button type="button">{{lang 'login.submit_value' }}</button>
                </div>
            </form>
        </div>
    </div>
</div>
