<div style="margin-top: 7px;
    padding-right: 40px;
    height: 42px;
    margin-left: 20px;">
    <input class="form-input"
           data-search-quick
           name="{{name}}"
           data-error-message="{{lang 'search.error.empty_field'}}"
           placeholder="Add SKU to Cart"
           autocomplete="off"
           style="float:left; position: relative; display: block; width: 200px"
    >
    <input class="form-input"
           data-search-quick
           name="{{name}}"
           data-error-message="{{lang 'search.error.empty_field'}}"
           placeholder=""
           value="1"
           autocomplete="off"
           style="float:left; position: relative; display: block; width: 50px; text-align: center; margin-left: 5px"
    >
    <input id="form-search-button" data-wait-message="Adding..." class="button button--primary" type="submit"
           value="Add to Cart" style="float: left;
    display: block;
    position: relative;
    font-size: 12px;
    font-weight: 500;
    color: white;
    margin-left: 5px;
    border-radius: 2px;
    height: 42px;">

</div>
