// =============================================================================
// PRODUCT GRID
// =============================================================================
.productGrid {
  @include u-listBullets("none");
  @include grid-row($behavior: "nest");
  font-size: 0; // 1
  margin-bottom: spacing("single");
  justify-content: left;
  display: flex;
  flex-wrap: wrap;

  .card {
    margin-bottom: 0;
  }

  li {
    &.product {
      border-radius: 5px;
      padding: 1%;
    }
  }
  .grid-add-to-cart-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .row1 {
    display: flex;
    height: auto;
    font-size: 14px;
    .card-pricing {
      display: flex;
      width: 75%;
      height: 100%;
      justify-content: center;
      .price-section {
        display: inline-flex;
        text-align: center;
        vertical-align: middle;
        padding-top: 6px;
      }
    }
    .card-text {
      display: flex;
      flex-wrap: wrap;
      height: 100%;
    }
    .card-input {
      width: 50%;
      display: flex;
      flex-basis: min-content;
      height: fit-content;
      .form-input {
        width: 50%;
        margin-right: 0;
        height: 100%;
        min-width: 50px;
      }
    }
  }
  .price {
    padding-left: 5px;
  }
  .add-to-cart-flex-container {
    width: 80%;
    max-width: 180px;
    .row2 {
      margin-top: 10px;
      input {
        width: 100%;
      }
    }
    .row3 {
      .ts-to-you-link {
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        font-family: "Muli", serif;
        width: 100%;
        display: block;
        border-radius: 4px;
        border: 1px solid #000;
        padding-top: 3px;
        padding-bottom: 3px;
        color: #4d4d4d;

        img {
          margin-right: 5px;
          width: 25%;
          max-width: 50px;
        }
      }
    }
  }
}
.list-switch {
  li.product {
    .card-text {
      font-size: 14px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
.actionBar {
  margin-bottom: 0;
  .form-field {
    margin-bottom: 0;
  }
}
.page-sidebar + .page-content {
  .productGrid {
      .product {
          .card-title  {
              height: auto;
          }
      }
  }
}
@media only screen and (max-width: 800px) {
  .productGrid {
    .button--primary {
      font-size: 12px !important;
    }
    &.list-switch {
      .add-to-cart-flex-container {
        width: 100% !important;
        margin-left: 5px;
      }
      .card-figure {
        width: 18% !important;
        margin-top: auto !important;
      }
      .card-body {
        width: 80% !important;
      }
      .add-to-cart-wrapper {
        &.add-to-cart-category {
          width: 105% !important;
        }
      }
      .price {
        padding-left: 5px;
      }
    }
    .row1 {
      .card-input {
        .form-input {
          min-width: 25px;
          width: 25%;
          height: 100%;
          margin-right: 0;
        }
      }
      .card-pricing {
        width: 70%;
        margin-right: 5%;
        justify-content: center;
      }
    }
    .add-to-cart-flex-container {
      .row2 {
        input {
          white-space: normal;
        }
      }
      .row3 {
        .ts-to-you-link {
          font-size: 0.7rem;
          font-weight: 600;
        }
      }
    }
  }
  .list-switch {
    li.product {
      .card-text {
        font-size: 13px;
        width: 100%;
        padding-top: 0;
      }
    }
  }
}
.productGrid-container {
  .hide-on-grid {
    display: none;
    align-items: center;
    justify-content: right;
  }
  .hide-on-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 801px) {
  .productGrid {
    &.list-switch {
      .add-to-cart-category {
        padding-top: 10px !important;
      }
      .card-figure {
        margin-top: 5px !important;
      }
      .card-title  {
        a {
          margin-top: 25px;
        }
      }
    }
    .row1 {
      .card-input {
        .form-input {
          min-width: 30px;
        }
      }
    }
  }
}
.add-to-cart-wrapper {
  .row2 {
    div {
      display: flex;
      flex-direction: column;
    }
  }
}
.productGrid {
  &.list-switch {
    .row3 {
      display: none;
      padding-top: 5px;
    }
    .row2 {
      div {
        input {
          margin-top: 0;
          margin-bottom: 0;
        }
      }
    }
    .autoship-enabled-product {
      .add-to-cart-category {
        padding-top: 0 !important;
      }
      .row3 {
        padding-top: 5px;
      }
    }
  }
}
