// =============================================================================
// PRODUCT GRID
// =============================================================================
.productGrid {

  @include u-listBullets("none");
  @include grid-row($behavior: "nest");
  font-size: 0; // 1
  margin-bottom: spacing("single");

  .card {
    margin-bottom: 0;
  }
}
