// =============================================================================
// LOGIN MODAL (CSS)
// =============================================================================

#loginModal {
  max-width: 600px;
  border-radius: 10px;

  .login-modal-form {
    height: 450px;
  }

  .loadingOverlay {
    display: none !important;
  }

  &:focus {
    outline: 0 !important;
  }

  #modal-forgot-password {
    float: left;
    font-size: 12px;
    padding-top: 5px;
  }

  #login-left {
    background: rgb(3, 157, 147);
    background: linear-gradient(180deg, rgba(3, 157, 147, 1) 0%, rgba(128, 200, 0, 1) 100%);
    height: 100%;
    width: 45%;
    border-radius: 10px;
    float: left;
    position: relative;
    display: block;
    text-align: center;

    img {
      margin-top: 160px;
    }
  }

  #login-right {
    height: 100%;
    width: 55%;
    float: left;
    position: relative;
    display: block;
    text-align: center;
    background-color: #f3f4f8;
    padding-top: 25%;
    padding-left: 7%;
    padding-right: 7%;

    p {
      text-align: center;
      font-size: 18px;
      font-weight: 600;
    }

    div:first-child {
      margin-top: 25%;
    }

    button {
      padding: 5px;
      color: $black;
      background-color: #87c42a;
      font-size: 12px;
      font-weight: 750;
      padding-left: 15px;
      padding-right: 15px;
      border-radius: 5px;
      &:focus {
        outline: none !important;
      }
    }

    div {
      display: block;
      width: 100%;
      padding-left: 10%;
      padding-right: 10%;

      input {
        height: 35px;
        width: 100%;
      }

      + div {
        margin-top: 15px;
      }
    }
  }
}
